<%- include('head', { active: 'aboutus' }) -%>

<!-- Page Header Start -->
<div
        class="container-fluid page-header mb-5 wow fadeIn"
        data-wow-delay="0.1s"
>
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown text-accent">
            About Us
        </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a class="text-body" href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-body" href="/">Pages</a>
                </li>
                <li class="breadcrumb-item text-light active" aria-current="page">
                    About Us
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="img/intro_section.jpg" />
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">Who We Are</h1>
                <p class="mb-4">
                    <strong>TicketZen</strong> is a passionate team of movie
                    enthusiasts dedicated to delivering exceptional customer service.
                    We believe that a great movie-going experience starts with a
                    simple and efficient booking process. With our innovative
                    technology and commitment to customer satisfaction, we're
                    transforming the way people enjoy movies.
                </p>
                <p>
                    <i class="fa fa-check text-divider me-3"></i>Easy and Intuitive
                    Booking
                </p>
                <p>
                    <i class="fa fa-check text-divider me-3"></i>Wide Range of Movies
                </p>
                <p>
                    <i class="fa fa-check text-divider me-3"></i>Real-time Seat
                    Selection
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Our Mission Start -->
<div class="container-fluid bg-black-50 py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">Our Mission</h1>
                <p class="mb-4">
                    To revolutionize the way you experience cinema by providing a
                    seamless, user-friendly, and personalized online ticket booking
                    platform. Our mission is to make every movie night a memorable
                    one.
                </p>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div
                        class="about-img-right position-relative overflow-hidden p-5 ps-0"
                >
                    <img class="img-fluid w-100" src="img/mission.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Mission End -->

<!-- Vision Start -->
<div class="container-fluid bg-light bg-icon py-6">
    <div class="container">
        <div
                class="section-header text-center mx-auto mb-5 wow fadeInUp"
                data-wow-delay="0.1s"
                style="max-width: 500px"
        >
            <h1 class="display-5 mb-3 text-divider">Our Vision</h1>
            <p>
                Redefining the movie-going experience by providing a seamless and
                user-friendly online ticket booking platform. We aim to make every
                movie night a memorable one.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div
                        class="bg-white border border-2 border-primary rounded-3 text-center h-100 p-4 p-xl-5"
                >
                    <img
                            class="img-fluid mb-4"
                            src="img/feature/seamless_booking.svg"
                            alt=""
                    />
                    <h4 class="mb-3 text-divider">Seamless User Experience</h4>
                    <p class="mb-4">
                        A user-friendly platform for effortless ticket booking.
                    </p>
                    <a
                            class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
                            href=""
                    >Read More</a
                    >
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div
                        class="bg-white border border-2 border-primary rounded-3 text-center h-100 p-4 p-xl-5"
                >
                    <img
                            class="img-fluid mb-4"
                            src="img/feature/movie_roll.svg"
                            alt=""
                    />
                    <h4 class="mb-3 text-divider">Diverse Film Selection</h4>
                    <p class="mb-4">
                        A wide range of movies to cater to every taste.
                    </p>
                    <a
                            class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
                            href=""
                    >Read More</a
                    >
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div
                        class="bg-white border border-2 border-primary rounded-3 text-center h-100 p-4 p-xl-5"
                >
                    <img
                            class="img-fluid mb-4"
                            src="img/feature/personalized.svg"
                            alt=""
                    />
                    <h4 class="mb-3 text-divider">Personalized Recommendations</h4>
                    <p class="mb-4">
                        Tailored suggestions based on your preferences.
                    </p>
                    <a
                            class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill mt-auto"
                            href=""
                    >Read More</a
                    >
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div
                        class="bg-white border border-2 border-primary rounded-3 text-center h-100 p-4 p-xl-5"
                >
                    <img
                            class="img-fluid mb-4"
                            src="img/feature/lightbulb.svg"
                            alt=""
                    />
                    <h4 class="mb-3 text-divider">Innovative Features</h4>
                    <p class="mb-4">
                        Cutting-edge technology to enhance your movie-going experience.
                    </p>
                    <a
                            class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill"
                            href=""
                    >Read More</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vision End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Meet Our Team of Cinephiles</h1>
            <p>A passionate group of movie lovers, dedicated to bringing you the best cinematic experience.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid w-100 golden-ratio-v" src="img/teamAvatar/HTTNAvatar.jpg" alt="">
                <div class="bg-light p-4">
                    <h3 class="text-accent">Hoang Thanh Thao Nguyen</h3>
                    <p>"Welcome to the future of movie-going! With <strong>TicketZen</strong>, you can skip the lines, choose your seats, and enjoy a hassle-free cinematic experience. We're constantly working to improve your movie night, so please share your feedback with us."</p>
                    <div class="text-muted border-top pt-4">
                        TicketZen Product Manager, <br>
                        Hoang Thanh Thao Nguyen
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid w-100 golden-ratio-v" src="img/teamAvatar/QNMAvatar.jpg" alt="">
                <div class="bg-light p-4">
                    <h3 class="text-accent">Quach Ngoc Minh</h3>
                    <p>"Hey TicketZener, <br>

                        We're thrilled to have you join our community of movie lovers! With <strong>TicketZen</strong>, you can effortlessly book tickets, discover new films, and enjoy personalized recommendations.

                        Let us know if you have any questions or feedback. We're here to enhance your cinematic experience. <br>

                        Happy movie-going!"</p>
                    <div class="text-muted border-top pt-4">
                        TicketZen Team Lead, <br>
                        Quach Ngoc Minh
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid w-100 golden-ratio-v" src="img/teamAvatar/VDLAvatar.jpg" alt="">
                <div class="bg-light p-4">
                    <h3 class="text-accent">Vo Dinh Long</h3>
                    <p>"Thank you for choosing <strong>TicketZen</strong> for your movie night! We're committed to providing you with the best possible service. If you have any questions or need assistance, please don't hesitate to contact our support team. We're here to help."</p>
                    <div class="text-muted border-top pt-4">
                        TicketZen Tech Lead, <br>
                        Vo Dinh Long
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid w-100 golden-ratio-v" src="img/teamAvatar/TNAvatar.jpg" alt="">
                <div class="bg-light p-4">
                    <h3 class="text-accent">Tuan Nhat</h3>
                    <p>"Thank you for choosing <strong>TicketZen</strong> for your movie night! We're committed to providing you with the best possible service. If you have any questions or need assistance, please don't hesitate to contact our support team. We're here to help."</p>
                    <div class="text-muted border-top pt-4">
                        TicketZen Tech Lead, <br>
                        Tuan Nhat
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid w-100 golden-ratio-v" src="img/teamAvatar/PTNAvatar.jpg" alt="">
                <div class="bg-light p-4">
                    <h3 class="text-accent">Phạm Tấn Nghĩa</h3>
                    <p>"Thank you for choosing <strong>TicketZen</strong> for your movie night! We're committed to providing you with the best possible service. If you have any questions or need assistance, please don't hesitate to contact our support team. We're here to help."</p>
                    <div class="text-muted border-top pt-4">
                        TicketZen Tech Lead, <br>
                        Jake Pham
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<%- include('foot')-%>
