body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    height: 55px;
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .create-process {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    position: fixed;
  }
  .create-process .step {
    padding: 10px 20px;
    cursor: pointer;
  }
  .create-process .step.active {
    border-bottom: 3px solid white;
    color: white;
  }
  .create-process .step:not(.active):hover {
    color: #ccc;
  }
  .admin-container {
    padding: 130px 20px 20px 20px;
  }
  .Form2, .Form3 {
    display: none;
  }
  select, input[type="text"],input[type="datetime-local"],textarea, input[type="number"] {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="file"] {
    font-size: 12px;
  }
  .Form1 button:hover, .Form2 button:hover, .Form3 button:hover {
    background-color: #0056b3;
  }
  .upload {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .event-name {
    margin-top: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  .event-image {
    display: flex;
    justify-content: space-between;
  }
  .event-logo, .event-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  .event-banner {
    width: 450px;
  }
  .logo-preview{
    width: 170px;
    height: 250px;
    object-fit: contain;
  }
 
  
  #next-btn:hover, #back-btn:hover {
    background-color: #003f73;
  }
  .form-group {
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
  }
  .add-ticket-btn {
    background-color: #fff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-ticket-btn:hover {
    background-color: #0056b3;
  }
  .add-ticket-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .save-btn {
    background-color: #28a745;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  .save-btn:hover {
    background-color: #218838;
  }
  .cancel-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  .cancel-btn:hover {
    background-color: #c82333;
  }
  #organizer-info{
    width: 100%;
  }
  .form-navigation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
  }
  #next-btn, #back-btn {
    padding: 5px 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
  }
  .ticket-item{
    background-color: black;
    width: 100%;
    padding: 10px;
    margin-top:20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ticket-type-name,.ticket-type-quantity,.ticket-type-price{
    color: white;
    font-weight: normal;
  }
  .ticket-type-name{
    font-weight: bold;
  }
  .create-btn a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
}

.event-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Khoảng cách giữa các item */
}

.event-item {
    width: 170px;
    height: 240px; 
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.event-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.event-info h3 {
    margin: 10px 0 5px;
}

.event-info p {
    margin: 5px 0;
}

/* voucher */
/* list */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pagination button:hover {
  background-color: #ddd;
}
/* Màu sắc cho các trạng thái */
.on-sale {
  color: green;
}
.sold-out {
  color: gray;
}