.header{
    height:140px;
    width:100%;
    z-index: 9999;
    position: sticky;
    top:0;
}
.top{
    display:flex;
    position:relative;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    background-color:#aaa6a9;
}
#logo{
    width:55px;
    height:55px;
    margin: 0 15px;
}
.top__left{
    display:flex;
    align-items: center;
}
.top__right{
    position:relative;
}
.top__right__item{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.header__account{
    height:55px;
    width:55px;
    padding-right:20px;
    cursor:pointer;
}
.account__options {
    position: absolute;
    top: 60px; 
    right: 0; 
    /* display: none;  */
    list-style: none;
    padding-right:20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100; 
}
.account__options__items{
    margin:10px;
    border-bottom: solid 2px lightgray;
}
nav{
    display: flex;
    justify-content:flex-start;
    padding: 0 10% 5px;
    margin: 10px 0;
    border-bottom: solid 2px lightgray;
}
.navbar__item{
    padding: 9px 60px;
    color:var(--text-color);
    margin: 10px 5px;
    font-size: var(--text-size);
    border-color: transparent;
    background-color: #D3D3D3;
    color:gray;
    border-radius: 5px;
}